* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 27, 43);
}

.navContainer {
    display: flex;
    justify-content: flex-end;
    margin: 12px 60px 0px 0px;
}


.navbar, li, a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px 0px;
    margin: 5px 10px;
    list-style: none;
    opacity: 0;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.navbar, li, a.active {
    color: #fabecb; 
    cursor: default;
}
.navafter::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    border-radius: 25px;
    background-color: #ffcbd6;
    width: 100%;
    transform: scaleX(0);
    transition: transform .4s;
    transform-origin: left;
}
.navafter:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}
.container {
    display: flex;
    color: #fff;
    margin: 50px 0px;
    animation-delay: 1.5s;
}
.imgContainer {
    border: #161b2b solid;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    padding: 7px 0px;
    opacity: 0;
    animation: slidePlus 1s ease forwards;
    animation-delay: 1s;
}

.imgContainer img{
    height: 280px;
    width: 280px;
    border-radius: 100%;
    box-shadow: 0 0 50px #000000;
}
.info {
    opacity: 0;
    background-color: #fabecb;
    height: 100vh;
    width: 400px;
    position: fixed;
    top: 0;
    z-index: 1000;
    color: #161b2b;
    display: block;
    padding: 30px 50px;
    color: #fff;
    box-shadow: 0 0 40px #000000 ;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;
}
.info div {
    text-align: center;
    margin: 10px 0px;
    font-size: 15px;
}
.info div h3{
    color: #161b2b;
    font-size: 16px;
}
.aboutMe {
    width: 550px;
    margin: 10px 50%;
}

.aboutMe h2 {
    color: #fabecb;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    opacity: 0;
    animation: slidePlus 1s ease forwards;
    animation-delay: 1.5s;
}
.aboutMe h3 {
    text-align: center;
    opacity: 0;
    animation: slidePlus 1s ease forwards;
    animation-delay: 1.5s;
}
.aboutMe a {
    font-weight: 500;
    padding: 10px 190px;
    margin: 20px 0px;
    border-radius: 100px;
    background-color: #fabecb;
    color: #000;
    border: #fabecb 2px solid;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.5s;
}

.aboutMe a:hover {
    background-color: #fabecb31;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0% {
        transform: translatex(-100px);
        opacity: 0;
    }

    100% {
        transform: translatex(0);
        opacity: 1;
    }
}
@keyframes slidePlus{
    0% {
        transform: scale(0%);
        opacity: 0;
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
} 