* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 27, 43);
}
.navContainer {
    display: flex;
    justify-content: flex-end;
    margin: 12px 60px 0px 0px;
}


.navbar, li, a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px 0px;
    margin: 5px 10px;
    list-style: none;
    opacity: 0;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.navbar, li, a.active {
    color: #fabecb; 
    cursor: default;
}
.navafter::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    border-radius: 25px;
    background-color: #ffcbd6;
    width: 100%;
    transform: scaleX(0);
    transition: transform .4s;
    transform-origin: left;
}
.navafter:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

.container {
    display: flex;
    box-sizing: border-box;
    margin: 3% 112px;
}
.imgContainer {
    border: #ffcbd6 solid;
    height: 460px;
    width: 460px;
    margin: auto;
    border-radius: 100%;
    opacity: 0;
    padding: 12px 12px;
    animation: slidePlus 1s ease forwards;
    animation-delay: 1.5s;
}

.imgContainer img{
    height: 430px;
    width: 430px;
    border-radius: 100%;
    box-shadow: 0 0 50px #000000;
}

.textContainer {
    color: rgb(255, 255, 255);
    margin: 50px;
    font-size: 23px;
    font-weight: 700;
}

.textContainer h3 {
    font-size: 14px;
    width: 550px;
    margin-top: 10px;
    opacity: 0;
    animation: slideRigth 1s ease forwards;
    animation-delay: 1.5s;
}
.textContainer h1 {
    opacity: 0;
    font-size: 50px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.svgText { 
    display: flex;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.svgText img {
    margin: 5px 0px 0px 10px;

}
#SlideH2 {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}
.btn { 
    border-radius: 30px;
    border: transparent;
    box-shadow: 0 0 20px #00000096;
    margin: 25px 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    background-color: #fabecb;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.2s;
}
.btn:hover {
    
    background-color: #fabecb31;
    color: #fff;
    cursor: pointer;
    transition: .5s;

}
.btnlink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #000000;
    font-size: 16.5px;
    width: 165px;
    height: 49px;
    border: #fabecb solid 2px;
    border-radius: 30px;
}

.btnlink:hover {
    color: #fff;
    
}



@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideRigth{
    0% {
        transform: translatex(100px);
        opacity: 0;
    }

    100% {
        transform: translatex(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0% {
        transform: translatex(-100px);
        opacity: 0;
    }

    100% {
        transform: translatex(0);
        opacity: 1;
    }
}
@keyframes slidePlus{
    0% {
        transform: scale(0%);
        opacity: 0;
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
}