* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #161b2b;
}
.navContainer {
    display: flex;
    justify-content: flex-end;
    margin: 12px 60px 0px 0px;
}


.navbar, li, .a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px 0px;
    margin: 5px 10px;
    list-style: none;
    opacity: 0;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.navbar, li, a.active {
    color: #fabecb; 
    cursor: default;
}
.navafter::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    border-radius: 25px;
    background-color: #ffcbd6;
    width: 100%;
    transform: scaleX(0);
    transition: transform .4s;
    transform-origin: left;
}
.navafter:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}
.container {
    opacity: 0;
    font-size: 13px;
    display: flex;
    max-width: 70em;
    height: 38em;
    margin: 3% auto;
    background-color: #fff;
    padding: 5px 20px 40px 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slidePlus 1.5s ease forwards;
}
.text-container {
    margin: 0px auto;
}
.img-container {
    margin: 0px 0px 0px 25px;
    animation: slidePlus 1.8s ease forwards;
}
.contact {
    opacity: 0;
    margin-top: 35px;
    width: 400px;
    animation: slideLeft 2s ease forwards;

}
.contact h2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 30px;
    color: #161b2b;
    font-size: 50px;
    font-family: "Dongle", sans-serif;    font-weight: 200;
}
.contact h3{
    font-size: 16px;
    color: #a3a3a3;
    font-weight: 500;
}
.contact-infos {
    margin: 100px 0px 20px 0px;
}
.email, .number {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.email h3, .number h3{
    font-size: 15px;
    color: #161b2b;
    font-weight: 600;
}
.email i, .number i{
    font-size: 20px;
    color: #223369;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons i{
    background-color: #223369;
    font-size: 25px;
    padding: 12px;
    border-radius: 20px;
    color: #fff;
}
.social-icons i:hover{
    transform: scale(1.1);
    transition: .7s
}
.social-icons a {
    margin: 8px;
    opacity: 0;
    transition: .5s;
    animation: slideTop 1.8s ease forwards;
    animation-delay: calc(.3s * var(--i));
}
.input-container {
    margin-top: 10px;
}

label {
    font-size: 15px;
}

form {
    margin-top: 20px;
}
input {
    display: block;
    margin: 5px 0px 7px 0px;
    height: 30px;
    background-color: #cccccc5b;
}
.text, textarea {
    width: 100%;
    padding: 10px;
    border: transparent;
    border-radius: 20px;
    background-color: #cccccc5b;
    margin-top: 5px;
}
.submit {
    background-color: #fabecb;
    color: #252525;
    font-weight: 600;
    border: none;
    font-size: 15px;
    padding: 10px 50px;
    cursor: pointer;
    margin: 8px;
    border-radius: 40px;
    border: #fabecb 2px solid;

}
.submit:hover {
    color: #fff;
    transition: .5s;
    background-color: #ee99ab;
    border: #ee99ab 2px solid;

}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0% {
        transform: translatex(-100px);
        opacity: 0;
    }

    100% {
        transform: translatex(0);
        opacity: 1;
    }
}
@keyframes slidePlus{
    0% {
        transform: scale(0%);
        opacity: 0;
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
}